@font-face {
  font-family: 'Sansita';
  src: local('Sansita'), url(./fonts/Sansita-Regular.ttf)
}

.App {
  text-align: center;
}

html, body, #root, #root>div {
  background-color: #d9f8ff;
  height: 100%;
}

.nav-link {
  color: #000000;
  font-size: 1.2rem;
  margin-right: 20px;  
}

.text-box-profile {
  color: #000000;
  flex: 1;
  text-align: start;
}

.text-box-profile-values {
  font-family: sans-serif;
  background-color: #EEEEEE;
  color: #000000;
  flex: 1;
  text-align: start;
  padding: 5px;
  border: 1px solid #000000;
}