.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Sansita';
  src: local('Sansita'), url(./fonts/Sansita-Regular.ttf)
}

.header-button {
  background-color: #d9f8ff;
  border: none;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Sansita';
  transition-duration: 0.4s;
}

.header-button:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.header-button:active {
  text-decoration: none;
  outline: none;
}

.header-text {
  font-family: 'Sansita';
  padding: 14px 25px;
  font-size: 36px;
  font-weight: 500;
  margin-right: 'auto';
}